* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*** (side) navigation bar ***/
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    /*width: 25%;*/
    float: left;
    overflow: auto;
}

#menu div {
    background-color: #1b1b1b;
    width: auto;
}
/* <a> after class=linav will appear following the below command */
#linav a {
    display: block;
    color: white;
    padding: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

#linav a:hover:not(.active) {
    background-color: black;
}

.active {
    background-color: black;
}

@media (min-width: 400px) {
    #menu {
      flex-direction: column;
    }
}

/*** end navigation bar ***/

#head {
    background-color: black;
    width: 100%;
    padding: 30px;
    color: white;
}

#content {
    width: 75%;
    float: left;
}

#div1 {
    background-color: #aaa;
    width: 100%;
    padding: 120px;
}

#block {
    display: block;
    width: 100px;
    height: 100px;
}

.name {
    position: relative;
    padding: 0px;
    margin-top: -105px;
    text-align: left;
    margin-inline: auto;
    font-size: 50px;
    overflow: hidden;
    display:block;
}

#pic {
    position: relative;
    padding: 10px;
    margin-top: -130px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-inline:auto;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.345), 0 6px 20px 0 rgba(0, 0, 0, 0.345);
}

#pic img {
    object-fit: cover; /*crop*/
    object-position: 10% 55%; /*left / top*/
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#vid {
    color: #fff;
    text-align: center;
    object-fit: cover;
}
video {
    background-color: #fff;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: gainsboro;
    padding: 30px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: #f1f1f1;
    padding: 20px;
}

.content {
    padding: 30px;
}

code {
    font-family: Consolas, "courier new";
    color: grey;
    background-color: #ffffff;
    padding: 2px;
}

details.outset {
    border-style: outset;
    padding: 5px;
    padding-left: 10px;
    background-color: #fff;
    font-size: 15px;
}

details.under {
    background-color: lightgray;
    padding-left: 20px;
    border-left: 3px solid black;
}

.li {
    padding-left: 30px;
    list-style-position: inside;
}

#q {
    text-align: center;
    color: darkgray;
}

figure {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #1a1a1a;
    color: whitesmoke;
    padding: 20px;
    font-size: 15px;
    bottom: 10px;
    clear: both;
}

#alink {
    color: #aaa;
    text-decoration: none;
}

#alink:hover {
    color: lightgray;
}

#click {
    list-style-type: none;
    padding-left: 10px;
}
.outset:hover {
    background-color: #f9f9f9;
}
.under:hover {
    background-color: #e9e9e9;
}

/***********Grid View***********/
/* mobile phones */
@media only screen and (min-width: 425px) {
[class*="col-"] {
    width: 100%;
}
}

/* tablets */
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

/* desktop: */
@media only screen and (max-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}